@*
    ViewData["Title"] = "Index";
*@

<h1>Cajero Automatico</h1>

<div class="">

    <form name="formulario" class="row col-4 mx-auto d-grid gap-2">
        <label for="Dispensacion2">Monto a dispensar</label>
        <input type="text" id="Dispensacion2" name="Dispensacion2" value="" />
        <label for="<odo">Modo de dispensacion </label>
        <select id="Modo" name="Modo">
            <option value="Modo1">Devuelta de 200 y 1000</option>
            <option value="Modo2">Devuelta de 100 y 500</option>
            <option  selected="selected" value="Modo3">Eficiente</option>
        </select>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>